* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Black Ops One', cursive;
}

header{
    color: black;
    background-color: #E2C044;
    padding: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
}

main {
    padding: 15px;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #2f195f;
    height: 100vh;
    width: 100%;
}

.imagem-card , .nome , .origem{
    border-radius: 5px;
    border:0.5px solid black;
    width: 100%;
}

.nome{
    background-color: #E2C044;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 32px;
}

.origem{
    background-color: #E2C044;
    padding: 30px 0;    
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 32px;
}

.card1{
    background-color: antiquewhite;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border:1px solid black;
    padding: 10px;
    width: 40%;
}
.card2{
    background-color: antiquewhite;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border:1px solid black;
    padding: 10px;
    width: 40%;
}