* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Black Ops One', cursive;
}

header{
    color: black;
    background-color: #E2C044;
    padding: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
}

main {
    background-color: #2f195f;
    display: grid;
    padding: 16px 16px 16px 0;
    grid-template-columns: repeat(auto-fill, minmax(100px,400px));
    grid-gap: 30px;
    place-content: center;
    width: 100%;
}

.imagem-card , .nome , .origem{
    border-radius: 5px;
    border:0.5px solid black;
    width: 100%;
}

.nome{
    background-color: #E2C044;
    color: rgb(0, 0, 0);
    text-align: center;
}

.origem{
    background-color: #E2C044;
    padding: 30px 0;    
    color: rgb(0, 0, 0);
    text-align: center;
}

.card{
    background-color: antiquewhite;
    border-radius: 8px;
    border:1px solid black;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
    width: 100%;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
}